// <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 100 to 900

    .main-container{
        width: 1600px;
        margin: 0 auto;
        height: 100%;
        position: relative;
    }
    .button-black{
        width: 300px;
        height: 60px;
        background-color: transparent;
        color: #000;
        border: solid 1px #000;
        font-size: 18px;
        border-radius: 50px;
        transition: all 0.3s ease-in-out;
        margin-top: 50px;
        cursor: pointer;
    }
    .button-black::after{
        content: "";
        display: inline-block;
        width: 12px;
        height: 12px;
        border-top: solid 1px #000;
        border-right: solid 1px #000;
        transform: rotate(45deg);
        margin: 0 0 0.8px 10px;
    }
    .button-black:hover{
        background-color: #fff;
        color: #000;
    }
    .button-black:hover{
        border: solid 1px #fff;
    }
    .swiper-wrapper {
        display: flex;
        height: 100%;
    }
    .swiper-slide{
        width: 100%;
        height: 100%;
    }
    .slide-total{
        display: flex;
        height: calc(100vh - 120px);
        margin: 0;
    }
    .slide-left{
        width: 50%;
        height: calc(100vh - 120px);
    }
    .slide-right{
        width: 50%;
        height: calc(100vh - 120px);
        background-color: #fff;
    }
    :root {
        --swiper-navigation-size: auto;
    }
    // ///////////헤더///////////

    #header {
        width: 100%;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 99;
        background-color: #fff;
        height: 120px;
        .header-container {
            max-width: 1600px;
            width: 100%;
            display: flex;
            justify-content: space-between;
            height: 120px;
            margin: 0 auto;
            h1 {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                margin: 0;
                a {
                    display: block;
                    img {
                        display: block;
                    }
                }
            }
            nav {
                display: flex;
                flex-direction: column;
                justify-content: center;
                &:hover + .fake{
                    height: 160px;
                }
                .depth-01 {
                    display: flex;
                    margin-bottom: 0;
                    margin-right: 300px;
                    padding: 30px 0;
                    &:hover .depth-02 {
                        height: 150px;
                    }
                    > li {
                        position: relative;
                        > a {
                            display: block;
                            line-height: 60px;
                            padding: 0 30px;
                            color: #000;
                        }
                        .depth-02 {
                            position: absolute;
                            top: 100%;
                            left: 0;
                            width: 100%;
                            overflow: hidden;
                            height: 0;
                            font-size: 14px;
                            transition: all 0.6s ease-in-out;
                            padding: 0;
                            z-index: 99;
                            li {
                                &:hover a{
                                    color: #ccc;
                                }
                                a {
                                    display: block;
                                    line-height: 40px;
                                    color: #000;
                                    text-align: center;
                                }
                            }
                        }
                    }
                }
            }
            .fake{
                position: absolute;
                top: 100%;
                left: 0;
                width: 100%;
                height: 0;
                overflow: hidden;
                background:#fff;
                transition: all 0.6s ease-in-out;
            }
            .icon-list {
                display: flex;
                justify-content: space-between;
                align-items: center;
                gap: 10px;
                margin-bottom: 0;
                li {
                    a {
                        display: block;
                        img {
                            display: block;
                            width: 30px;
                            height: 30px;
                        }
                    }
                }
            }
        }
    }

    // ///////////메인 콘텐츠(메인 배너)///////////

    #mainbanner{
        .swiper-button-next{
            color: #fff;
            bottom: 10%;
            top: auto;
            right: 210px;
            &:root {
                --swiper-navigation-size: 20px;
            }
        }
        .swiper-button-prev{
            color: #fff;
            bottom: 10%;
            top: auto;
            left: 1578px;
            &:root {
                --swiper-navigation-size: 20px;
            }
        }
        .swiper-pagination.swiper-pagination-fraction.swiper-pagination-horizontal{
            color: #fff;
            bottom: 93px;
            width: 50px;
            text-align: center;
            left: auto;
            right: 243px;
        }
        .mainbanner-swiper {
            width: 100%;
            height: 100vh; // 전체 화면 높이
            position: relative;
            .swiper-wrapper {
                display: flex;
                height: 100%;
                .swiper-slide01{
                    position: relative;
                    width: 100%;
                    height: 100%;
                    background: linear-gradient(
                    to top, /* 그라데이션 방향 */
                    rgba(0, 0, 0, 0.5), /* 시작 색상 */
                    rgba(0, 0, 0, 0.2), /* 시작 색상 */
                    rgba(0, 0, 0, 0) /* 끝 색상 */
                    ),
                    url(../images/mainbanner.png) no-repeat center / cover;
                    .mainbanner-text01{
                        position: absolute;
                        top: 35%;
                        left: 0;
                        color: #fff;
                        // 위치 및 스타일 추가
                        h2{
                            padding: 10px 0;
                            font-size: 60px;
                        }
                        .second-text{
                            padding: 10px 0;
                            font-size: 28px;
                            line-height: 1.2;
                        }
                        button{
                            cursor: pointer;
                            width: 300px;
                            height: 60px;
                            background-color: transparent;
                            color: #fff;
                            border: solid 1px #fff;
                            font-size: 18px;
                            border-radius: 50px;
                            transition: all 0.3s ease-in-out;
                            margin-top: 50px;
                            &::after{
                                content: "";
                                display: inline-block;
                                width: 12px;
                                height: 12px;
                                border-top: solid 1px #fff;
                                border-right: solid 1px #fff;
                                transform: rotate(45deg);
                                margin: 0 0 0.8px 10px;
                            }
                            &:hover{
                                background-color: #fff;
                                color: #000;
                            }
                            &:hover::after{
                                border-top: solid 1px #000;
                                border-right: solid 1px #000;
                            }
                        }
                    }
                }
                .swiper-slide02{
                    position: relative;
                    width: 100%;
                    height: 100%;
                    background:
                    url(../images/mainbanner2.png) no-repeat center / cover;
                    .mainbanner-text02{
                        position: absolute;
                        top: calc(35%);
                        left: 0;
                        // 위치 및 스타일 추가
                        h2{
                            padding: 10px 0;
                            font-size: 60px;
                        }
                        .second-text{
                            padding: 10px 0;
                            font-size: 28px;
                            line-height: 1.2;
                        }
                        
                    }
                }
                .swiper-slide03{
                    position: relative;
                    width: 100%;
                    height: 100%;
                    background: url(../images/mainbanner3.jpg) no-repeat center / cover;
                    .mainbanner-text03{
                        position: absolute;
                        top: calc(35%);
                        left: 0;
                        h2{
                            padding: 10px 0;
                            font-size: 60px;
                        }
                        .second-text{
                            padding: 10px 0;
                            font-size: 28px;
                            line-height: 1.2;
                        }
                    }
                }
            }
            .swiper-scrollbar {
                bottom: var(--swiper-scrollbar-bottom, 150px);
                width: 1600px;
                margin-left: calc(50% - 800px);
                border: solid 2px rgba(255, 255, 255, 0.3);
                position: relative;
                left: 0;
                .swiper-scrollbar-drag {
                    position: absolute;
                    top: -2px;
                    left: -2px;
                    border: solid 2px #fff;
                }
            }
        }
    }

// ///////////메인 콘텐츠(베스트 셀러)///////////

#best-seller{
    .best-seller-title{
        width: 100%;
        height: 200px;
        .flex-container{
            display: flex;
            justify-content: space-between;
            align-items: center;
            h2{
                font-size: 50px;
                margin-top: 80px;
            }
            a{
                color: #000;
                margin-top: 80px;
                font-size: 20px;
                &::after{
                    content: "";
                    display: inline-block;
                    width: 12px;
                    height: 12px;
                    border-top: solid 1px #000;
                    border-right: solid 1px #000;
                    transform: rotate(45deg);
                    margin: 0 0 0.8px 4px;
                }
            }
        }
    }
    .best-seller-swiper{
        // display: block;
        width: 100%;
        height: calc(100vh - 120px);
        background-color: #ccc;
        .best-swiper-slide01{
            .slide-left01{
                // background: url(../images/best-big-img01.png) no-repeat center / cover;
                position: relative;
                .slide-left-img{
                    background: url(../images/best-big-img01.png) no-repeat center / cover;
                    width: 100%;
                    height: 100%;
                    display: block;
                }
                .best-left-text{
                    position: absolute;
                    bottom: 100px;
                    left: 160px;
                    p{
                        color: #fff;
                        font-size: 24px;
                        margin-bottom: 10px;
                    }
                    h2{
                        color: #fff;
                        font-size: 54px;
                        line-height: 1.2;
                    }
                    span{
                        display: block;
                        width: 800px;
                        height: 100px;
                        border-bottom: solid 1px #fff;
                    }
                }
            }
        }
        .best-swiper-slide02{
            background-color: aquamarine;
        } 
        .best-swiper-slide03{
            background-color: azure;
        }
    }
}